# Binaries and temp files
main
backphish
*.exe
*~

## Logs and dump files

# Web Inspector network traffic log file
*.har
# This allows to keep additional HAR logs in local
# It must be used -f when added/updated additional HAR logs
